<form action="#">
  <!-- action url to send form data to -->
  <input type="text" placeholder="enter text here" required />
  <!-- required stops empty sumbits -->
  <button type="submit">submit</button>
  <!-- button to submit data -->
</form>
<!-- Radio type input: -->
<label for="indoor"
  ><input id="indoor" type="radio" name="indoor-outdoor" value="indoor" checked/> Indoor</label
>
<label for="outdoor"
  ><input id="outdoor" type="radio" name="indoor-outdoor" value="outdoor"/> Outdoor</label
><br />
<!-- Checkbox type input: -->
<label for="killing"
  ><input id="killing" type="checkbox" name="personality" value="killing"/> killing</label
>
