<p>
  p elements are the preferred element for paragraph text on websites. p is
  short for "paragraph".
</p>
<p>
  Web developers traditionally use lorem ipsum text as placeholder text. The
  lorem ipsum text is randomly scraped from a famous passage by Cicero of
  Ancient Rome. Lorem ipsum text has been used as placeholder text by
  typesetters since the 16th century, and this tradition continues on the web.
</p>
